$bg: #423663;
$fg: #fafafa;
$fg-active: #f7a8da;

html {
    background-color: $bg;
    color: $fg;
    font-family: sans-serif;
    padding: 3vw;
}

body {
    margin: 5vh auto 1vh;
    max-width: 1000px;
}

a {
    &, &:visited {
        color: $fg;
    }

    &:hover {
        color: $fg-active;
    }
}

#atom {
    font-size: 0.8rem;
    font-weight: normal;
}

blockquote {
    border-left: 2px solid #dadada;
    padding-left: 1rem;
    margin: auto 1rem;
}

hr {
    width: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

pre {
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    font-family: monospace;

    table {
        width: 100%;
        border-collapse: collapse;

        td {
            padding: 0;

            &:nth-of-type(1) {
                text-align: center;
                user-select: none;
            }
        }
    }

    mark {
        display: block;
    }
}

nav, #toc {
    a {
        text-decoration: none;
    }
}

#toc {
    padding-top: 1rem;
    padding-bottom: 1rem;

    li {
        list-style: none;
    }

    > ul {
        padding-left: 0.5rem;
    }
}

ul {
    padding-left: 1.5rem;
}

h1.title {
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}

#wordcount {
    font-style: italic;
    padding-bottom: 0.5rem;
}

footer {
    padding-top: 5rem;
}

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus {
        position: static;
        width: auto;
        height: auto;
    }
}

@media print {
    html {
        background-color: white;
        color: black;
    }

    a {
        color: black !important;
        text-decoration: none;
        &::after {
            content: " <" attr(href) "> ";
        }
    }

    nav, #toc {
        display: none;
    }
}
