$bg: #423663;
$fg: #fafafa;
$fg-active: #f7a8da;

@import "fonts";

:root {
  font-family: InterVariable, sans-serif;
}

html {
    background-color: $bg;
    color: $fg;
    padding: 3vw;
}

body {
    margin: 5vh auto 1vh;
    max-width: 1000px;
}

a {
    &, &:visited {
        color: $fg;
    }

    &:hover {
        color: $fg-active;
    }
}

#atom {
    font-size: 0.8rem;
    font-weight: normal;
}

blockquote {
    border-left: 2px solid #dadada;
    padding-left: 1rem;
    margin: auto 1rem;
}

hr {
    width: 50%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

code {
  font-family: Iosevka, monospace;
  font-size-adjust: from-font;
}

pre {
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    font-family: Iosevka, monospace;
    font-size-adjust: from-font;

    table {
        width: 100%;
        border-collapse: collapse;

        td {
            padding: 0;

            &:nth-of-type(1) {
                text-align: center;
                user-select: none;
            }
        }
    }

    mark {
        display: block;
    }
}

nav, #toc {
    a {
        text-decoration: none;
    }
}

#toc {
    padding-top: 1rem;
    padding-bottom: 1rem;

    li {
        list-style: none;
    }

    > ul {
        padding-left: 0.5rem;
    }
}

ul {
    padding-left: 1.5rem;
}

h1.title {
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}

article p {
  text-align: justify;
}

footer {
    padding-top: 2.5rem;
    text-align: center;

    .buttons > a {
        display: inline-block;
        padding: 0.2rem;
    }
}

.footnote-reference {
  margin-left: 2px;
  margin-right: 2px;
}

.footnote-definition {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  overflow-x: auto;
  margin: 20px 0;
  padding-block-end: 5px;

  sup {
    display: inline-block;
    margin-right: 0.5em;
    font-size: inherit;
    vertical-align: baseline;

    &::after {
      content: ".";
    }
  }

  p:first-of-type {
    display: inline;
  }

  p:not(:first-of-type) {
    margin-top: 0.5em;
  }
}

@counter-style technote {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  prefix: "TN-";
  pad: 3 "0";
  suffix: ": ";
}

ol.technote {
  list-style: technote;
  padding-left: 4.5em;
}

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus {
        position: static;
        width: auto;
        height: auto;
    }
}

@media print {
    html {
        background-color: white;
        color: black;
    }

    a {
        color: black !important;
        text-decoration: none;
        &::after {
            content: " <" attr(href) "> ";
        }
    }

    nav, #toc {
        display: none;
    }
}
